<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CommonCrypto OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CommonCrypto iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Keys OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Keys iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Tests-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03580A7E1B75246100F4AB36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03580A901B7524B400F4AB36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03580A9D1B75250E00F4AB36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03580AAA1B75253000F4AB36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03B715251B7A45A200A15ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03B715341B7A45EF00A15ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03B7154A1B7A47BB00A15ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03B715591B7A481100A15ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03B715681B7A484500A15ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
